body { min-width: 1280px; }


/*---------------------- 헤더영역 ------------------------*/
header { height: 81px; text-align: center; position: relative;}
header h1 { position: absolute; left: 50px; top: 0; padding: 14px 0 0;}
header h1 a { display: block; width: 110px; height: 48px; color: transparent; background: url(../images/sp_com.png) no-repeat -300px 0;}


header .lnb li { display: inline-block; }
header .lnb li a { position: relative; display: block; height: 81px; padding: 0 35px; font-size: 17px; color: #333; line-height: 81px;}
header .lnb li a:hover { color: #2d5b79; font-weight: bold; }
header .lnb li a span { position: relative; }
header .lnb li a:hover span:after { position: absolute; left: 0; bottom: -9px; content: ""; display: block; height: 1px; width: 100%; background: #2d5b79; }


header .spot { position: absolute; right: 50px; top: 0; }
header .spot li { position: relative; float: left; }
header .spot li:after { content: ""; position: absolute; left: 0; top: 50%; width: 1px; height: 7px; background: #ccc; transform: translateY(-50%);}
header .spot li:first-child:after { display: none; }
header .spot li a { display: block; height: 81px; padding: 0 10px; line-height: 81px; }
header .spot li:last-child a { padding-right: 0; }



/*---------------------- 비주얼(메인이미지) 영역 ------------------------*/
.visual { padding: 0 50px; position: relative;}
.visual .con > div { height: 640px; }
.visual .con .slide { background: url(../images/bg_main0801.jpg) no-repeat center; color: #fff; font-size: 32px; line-height: 46px;}
.visual .con .slide p { font-size: 20px; padding: 19px 0 0 0;}
.visual .con .slide .txt { text-shadow: 1px 1px 2px gray; position: absolute; left: 50%; top: 175px; }


/*---------------------- (케러셀 하단) 주메뉴 단축아이콘 ------------------------*/
.product a { display: block; color : #001829; font-size: 15px; }
.product a:hover { color : #2d5b79; font-weight: bold;}
.product a:before { content : ""; display: block; width: 64px; height: 52px; margin: 0 0 26px; background:url(../images/sp_com.png) no-repeat; }

/* li의 부모 요소(ul)에 font-size: 0; 을 주게 되면 li가 인라인 요소로 되었을 때 생기는 li간 여백을 없앨 수 있다 */
.product ul { padding: 46px 0 41px; text-align: center; font-size: 0;}
.product li { display: inline-block; text-align: center; padding: 0 55px;}
.product li:nth-child(1) a:before { background-position: -3px -118px; }
.product li:nth-child(2) a:before { background-position: -75px -118px; }
.product li:nth-child(3) a:before { background-position: -148px -118px; }
.product li:nth-child(4) a:before { background-position: -219px -118px; }
.product li:nth-child(5) a:before { background-position: -292px -118px; }
.product li:nth-child(6) a:before { background-position: -364px -118px; }

.product li:nth-child(1) a:hover:before { background-position: -3px -184px; }
.product li:nth-child(2) a:hover:before { background-position: -75px -184px; }
.product li:nth-child(3) a:hover:before { background-position: -148px -184px; }
.product li:nth-child(4) a:hover:before { background-position: -219px -184px; }
.product li:nth-child(5) a:hover:before { background-position: -292px -184px; }
.product li:nth-child(6) a:hover:before { background-position: -364px -184px; }


.magazine { position: relative; background: #dfd9d1; height: 670px; overflow: hidden;}
.magazine h2 { padding: 50px 0 16px; font-size: 28px; color: #000; text-align: center; line-height: 100%;}
.magazine p { text-align: center; font-size: 14px; color: #3a3b36; line-height: 100%}
.magazine .slide_box > div { position: absolute; left: 50%; top: 150px; transform: translate(-50%, 0); width: 1180px; height: 430px; }
.magazine .slide_box > div:nth-child(1) { margin-left: -1280px; }
.magazine .slide_box > div:nth-child(3) { margin-left: 1280px; }
.magazine .slide_box .left { position: relative; float: left; width: 800px; height: 430px; overflow: hidden;}
.magazine .slide_box .left img { width: 100%; }
.magazine .slide_box .left div { position: absolute; right: 0; top: 0; background: rgba(0, 0, 0, 0.5); width: 200px; height: 100%; padding: 47px 20px 0; box-sizing: border-box;}
.magazine .slide_box .left div h3 { color: #fff; font-size: 20px; line-height: 32px; }
.magazine .slide_box .left div h3 span { font-weight: normal; display: block;}
.magazine .slide_box .left div p { padding: 9px 0 0; font-size: 16px; color: #fff; text-align: left; line-height: 24px;}
.magazine .slide_box .left div a { display: block; width: 160px; height: 45px; border: 1px solid #fff; color: #fff; font-size: 16px; text-align: center; line-height: 45px; position: absolute; right: 20px; bottom: 40px;}


.magazine .slide_box .right { float: right; padding: 20px 20px 0; width: 380px; height: 430px; background:  #fff; box-sizing: border-box; }
.magazine .slide_box .right li { padding: 0 0 20px; }
.magazine .slide_box .right li a { display: table; width: 100%;}
.magazine .slide_box .right li a div { display: table-cell; position: relative; padding: 0 0 0 100px; height: 82px; font-size: 16px; color: #333; vertical-align: middle;}
.magazine .slide_box .right li a img { position: absolute; left: 0; top: 0; width: 80px;}
.magazine .slide_box .right li a strong { display: block; font-size: 13px; color: #000; }
.magazine.slide .control { bottom: 48px; }
.magazine.slide .prev {left: 50%; margin: 26px 0 0 -640px;}
.magazine.slide .next {right: 50%; margin: 26px -640px 0 0;}

.notice { padding: 0 0 100px; }
.notice > div { width: 1180px; margin: 0 auto; padding: 55px 0; overflow: auto;}
.notice > div .top > ul { float: left; }
.notice > div .top > ul a { display: block; padding: 120px 0 0; width: 280px; height: 280px; text-align: center; box-sizing: border-box; font-size: 17px; color: #fff; font-weight: bold; transition: all 0.5s;}
.notice > div .top > ul a:hover { background: rgb(45, 90, 120, 0.3); }
.notice > div .top > ul a span { display: block; padding: 20px 0 0; font-weight: normal; font-size: 14px; position: relative; top: 10px; opacity: 0; transition: all 0.5s;}
.notice > div .top > ul a:hover span { display: block;  top: 0; opacity: 1;}
.notice > div .top > ul li { float: left; padding: 0 20px 0 0;}
.notice > div .top > ul li:nth-child(1) { background: url(../images/product01.jpg) no-repeat; }
.notice > div .top > ul li:nth-child(2) { background: url(../images/product02.jpg) no-repeat;}
.notice > div .top > ul li:nth-child(2) a { color: #000; }
.notice > div .top > ul li:nth-child(3) { background: url(../images/product03.jpg) no-repeat; }
.notice > div .top > div { float: left; width: 280px; height: 280px; background: #f2f0ed; padding: 36px 20px 0; box-sizing: border-box;}
.notice > div .top > div div { padding: 0 0 10px; }
.notice > div .top > div h2 { font-size: 17px; color: #000; text-align: center; line-height: 100%; padding-bottom: 29px;}
.notice > div .top > div select, 
.notice > div .top > div input { width: 100%; height: 45px; border: none; text-indent: 20px;}
.notice > div .top > div input::placeholder { color: #949394; font-size: 14px; text-indent: 20px; }
.notice > div .top > div a { display: block; margin-top: 20px; height: 45px; line-height: 45px; text-align: center; color: #fff; background: #2d5b79; font-size: 15px;}

.notice article { padding: 20px 0 0; }
.notice article > div { position: relative; float: left; width: 580px; background: #f2f0ed;}
.notice article > div  a { font-size: 16px; color: #424241; }
.notice article > div  a p { font-size: 12px; color: #979797; }
.notice article > div > h2 { height: 77px; line-height: 77px; font-size: 24px; color: #2d5b79; text-align: center; border-bottom: 1px solid #fff;}
.notice article > div > a  { position: absolute; right: 23px; top: 24px; width: 30px; height: 30px; background: url(../images/sp_com.png) no-repeat -196px -60px #fff; border-radius: 30px; color: transparent;}
.notice article > div.left ul li { float: left; width: 50%; padding: 35px; box-sizing: border-box; }
.notice article > div.left ul li span { display: block; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 100%;}
.notice article > div.left ul li p { padding: 21px 0 16px; line-height: 100%; }
.notice article > div.left ul li div { line-height: 21px; }
.notice article > div.left ul li:nth-child(2) {border-left: 1px solid #fff;}
.notice article > div.left ul li:nth-child(2) div { overflow:hidden; text-overflow:ellipsis; display: -webkit-box !important; -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal; border-left: 1px solid #fff;}
.notice article > div.right { float: right; }
.notice article > div.right ul li { position: relative; border-bottom: 1px solid #fff;}
.notice article > div.right ul li:last-child { border-bottom: none; }
.notice article > div.right ul li a { display: block; width: 400px; height: 60px; line-height: 60px; text-indent: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice article > div.right p { position: absolute; right: 30px; top: 0; }

.banner { padding: 55px 0; background: url(../images/bg_main_business.jpg) no-repeat center top; }
.banner ul { display: flex; width: 1180px; margin: 0 auto; }
.banner ul li { flex: 1; padding: 0 0 0 20px; text-align: center;}
.banner ul li:first-child { padding: 0; }
.banner ul li a { display: block; height: 390px; padding-top: 303px; font-size: 14px; color: #3e413d; box-sizing: border-box;}
.banner ul li a strong { display: block; font-size: 23px; color: #000; }
.banner ul li:nth-child(1) a { background: url(../images/product01.jpg) no-repeat; background-size: cover;}
.banner ul li:nth-child(2) a { background: url(../images/product02.jpg) no-repeat; background-size: cover;}
.banner ul li:nth-child(3) a { background: url(../images/product03.jpg) no-repeat; background-size: cover;}
.banner ul li:nth-child(4) a { background: url(../images/product04.jpg) no-repeat; background-size: cover;}


footer .top { background: #383f43; }
footer .top > div { width: 1180px; margin: 0 auto; padding: 13px 0;}
footer .top > div ul { float: left; }
footer .top > div ul li { float: left; position: relative; padding-right: 19px;}
footer .top > div ul li:after {content: ""; width: 1px; height: 8px; background: #70767a; position: absolute; right: 9px; top: 50%; margin-top: -4px;}
footer .top > div ul li a { color: #fff; font-size: 13px; line-height: 45px;}
footer .top > div div { float: right; }
footer .top > div div p { display: inline-block; background: #2a3033; color: #fff; width: 242px; height: 45px; text-align: center; line-height: 45px; font-size: 13px;}
footer .top > div div p strong { font-size: 20px; padding-left: 15px;}
footer .top > div div select { width: 200px; height: 45px; padding: 0 0 0 21px; color: #191919; font-size: 12px; box-sizing: border-box; border: none; vertical-align: 3px;}

footer .bottom { padding: 40px 0 44px; background: #4c5459; text-align: center;}
footer .bottom p { display: inline-block; width: 131px; height: 51px; background: url(../images/sp_com.png) no-repeat -150px 0; color: transparent; }
footer .bottom ul { padding: 32px 0 14px; }
footer .bottom li { display: inline-block; position: relative; color: color: #fff; font-size: 14px; padding: 0 10px;}
footer .bottom li:after { content: ""; position: absolute; width: 1px; height: 8px; background: #70767a; right: 0; top: 50%; margin-top: -4px;}
footer .bottom address { color: #fff; font-size: 14px;  }


/* Slide 공통 */
.slide .prev,
.slide .next { display: block; position: absolute; top: 50%; width: 25px; height: 47px; transform: translateY(-50%); background: url(../images/sp_com.png) no-repeat; color: transparent;}
.slide .prev { left: 82px; background-position: -128px -60px;}
.slide .next { right: 82px; background-position: -158px -60px;}
.slide .control { position: absolute; left: 0; width: 100%; bottom: 55px; text-align: center;}

.slide .control a {color: transparent;}

.slide .control > div { display: inline-block; position: relative; padding: 0 45px 0 0; }
.slide .control > div > div { position: absolute; right: 0px; }
.slide .control > div > div a { display: inline-block; overflow: hidden; width: 8px; height: 9px; background: url(../images/sp_com.png); margin: 0 0 0 7px; opacity: 0.5;}
.slide .control > div > div a.on { opacity: 1; }

.slide .control > div > div a.play { background-position: -108px -72px; }
.slide .control > div > div a.pause { background-position: -108px -60px; }

.slide .control ul { position: relative; top: 7px;}
.slide .control ul, 
.slide .control li { display: inline-block; }
.slide .control li { vertical-align: top; padding: 0 3px; }
.slide .control li a { display: block; width: 50px; height: 3px; background: rgba(255,255,255,0.5); border: none; }
.slide .control li.on a { background: #fff; }


